body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

btn {
  color: #00b7ff;
}

.book {
  color: Red;
  font-size: 50px;
  text-align: center;
}

.align {
  align-content: center;
}
